<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Update Employee</title>
</head>
<body>
<div class="container my-2">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update Employee</h2>

    <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input class="form-control mb-4 col-4" type="text" th:field="*{firstName}" />
        <input class="form-control mb-4 col-4" type="text" th:field="*{lastName}" />
        <input class="form-control mb-4 col-4" type="text" th:field="*{email}" />

        <button type="submit" class="btn btn-info col-2">Update Employee</button>
    </form>
    <hr>

    <a th:href="@{/}">Back to Employee List</a>
</div>
</body>
</html>